//main:../main.scss
.cartProducts {
  width: 100%;
  max-width: 400px;
  margin-top: 5px;
  &__product {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 5px;
  }
  &__name {
    color: $tertiary-color;
    font-weight: bold;
  }
  &__details {
    display: flex;
    flex-direction: column;
  }
  &__product-total {
    position: absolute;
    right: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }
  &__quantity-box {
    display: flex;
  }
  &__quantity {
    text-align: center;
    margin: 0;
    width: 30px;
    border: 1px solid $tertiary-color;
  }
  &__quantity-button {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    border: 1px solid $tertiary-color;
    background: fade-out($tertiary-color, 0.9);
  }
  &__remove {
    color: $alert-color;
    line-height: 21px!important;
    margin-left: 5px;
    cursor: pointer;
  }
  &__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid whitesmoke;
    border-radius: 10px 0;
  }
  &__total {
    text-align: right;
    font-weight: bold;
    &::before {
      content: "TOTAL : ";
    }
  }
}
