//main:../main.scss
.product {
  &__img-container {
    max-width: 400px;
    height: 400px;
    margin-top: 10px;
    border: 2px solid whitesmoke;
    border-radius: 10px 0;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__details {
    width: 100%;
    max-width: 400px;
  }
  &__infos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__price {
    text-align: center;
    color: $primary-color;
    font-weight: bold;
  }
  &__return {
    margin: 10px;
  }
  &__select {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10px;
  }
  &__color-heading {
    display: inline-block;
    text-align: center;
    width: 100%;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background: $horizontal-colors-gradient;
    }
  }
}
