//main:../main.scss
.cart {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px;
  border-radius: 0 0 0 10px;
  background: whitesmoke;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  &__container {
    position: fixed;
    top: 0;
    right: 0;
    background: $horizontal-colors-gradient;
    padding-left: 3px;
    padding-bottom: 3px;
    border-radius: 0 0 0 10px;
    z-index: 99;
  }
  &__icon {
    font-size: 27px;
  }
  &__details {
    display: flex;
    flex-direction: column;
  }
  &__total {
    font-weight: bold;
  }
}
