//main:../main.scss
$primary-color: #E48B0F;
$secondary-color: #B36F98;
$tertiary-color: #8F5BFE;
$light-color: #F3E9F1;
$font-color: #261624;
$valid-color: #6FB38A;
$alert-color: #E4420F;

$horizontal-colors-gradient: linear-gradient(to right, $primary-color, $secondary-color, $tertiary-color);
